/* إعدادات عامة */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    line-height: 1.6;
   box-sizing: border-box;
   text-decoration: none;
 
}

a {
    text-decoration: none;
    color: inherit;
}

/* الهيدر */

header {
    background: #0a0701;
    color: #fbf4f4;
    padding: 15px 0;
    border-bottom: 2px solid green;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

header nav ul li a {
    color: #f8f4f4;
    text-decoration: none;
    margin: 10px;
}
header nav ul li a:hover{
    color: #2fee5c;
}

header .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

header .social-icons a {
    color: #f8f3f3;
    text-decoration: none;
}
header .social-icons a :hover{
    color:#2fee5c;
}

/* الترحيب */
.welcome {
  
   background: #333;
    padding: 2rem;
    text-align: center;
    color: #f3f0f0;
   
}

/* الدورات */
#courses {
    padding: 2rem;
    background-color: #eaeaea;
    
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
   
}

.course {
    background: white;
  
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(10, 30, 10, 2000);
}

.course img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(11, 30, 10, 1000);
}
.course h3{
    background-color:#0e6004;
    color: #f4f4f4;

}


/* فورم التسجيل */
#register {
    padding: 2rem;
    background-color: #040405;
    color: #eaeaea;
}

form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input, form button {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #007bff;
}

/* التواصل */
#contact {
    padding: 2rem;
    background-color: #eaeaea;
    text-align: center;
}

/* الفوتر */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

 
 
 


